@import "icon/iconfont.css";
/******************************************  va-toast ***************************************/
.va-toast {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 5px;
  word-break: break-all;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
}
.va-toast--show {
  display: block;
}
/*******************************************  va-checkbox ****************************************/
.va-check .va-check__item {
  display: inline-block;
  height: 40px;
  background-color: #fbfbfb;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 800 ;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.va-check .va-check__item--normal {
  color: #999;
  border: 1px solid #EEEEEE;
}
.va-check .va-check__item--active {
  color: #1C83E3;
  border: 1px solid #1C83E3;
  position: relative;
}
.va-check .va-check__item--active:after {
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0 ;
  height: 20px;
  width: 20px;
  background-image: url('../img/icon-radio-selected.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*******************************************  va-popup-radio ****************************************/
.va-popup-radio .van-popup {
  background-color: #f1f1f1;
}
.va-popup-radio .va-popup-radio__content {
  max-height: 70vh;
  overflow-y: auto;
}
.va-popup-radio .va-radio__item {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
}
.va-popup-radio .va-radio__item:active {
  background-color: #f1f1f1;
}
.va-popup-radio .va-radio__item.va-radio__item--cancel {
  color: #1C83E3;
  font-weight: 800;
  margin-top: 10px;
}
/*******************************************  va-btn-group ****************************************/
.va-btn-group {
  display: inline-block;
}
.va-btn {
  display: inline-block;
  padding: 0 15px;
  border-radius: 0px ;
  border: 1px solid #2664AD;
  color: #fff;
  font-weight: 800;
  line-height: 28px;
}
.va-btn.active {
  background-color: #2E6FBC;
}
.va-btn-group .va-btn {
  margin-left: -1px;
}
.va-btn-group .va-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.va-btn-group .va-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*******************************************  tab选择 ****************************************/
.va-tab {
  display: flex;
}
.va-tab__item {
  flex: 1;
  text-align: center;
}
.va-tab__item--text {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #595959;
  position: relative;
  font-weight: 800;
}
.va-tab__item--text:after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 3px;
  width: 0;
  background-color: #1C83E3;
  border-radius: 4px;
  transition: all 0.3s;
}
.va-tab__item--text.active {
  color: #1C83E3;
}
.va-tab__item--text.active:after {
  width: 100%;
}
/*******************************************  确认框 ****************************************/
.va-confirm__panel {
  min-width: 250px;
  max-width: 90vw;
  background-color: #fff;
  border-radius: 4px;
}
.va-confirm__title {
  padding: 10px 20px 10px 20px ;
  text-align: center ;
  font-size: 16px;
  font-weight: 800 ;
}
.va-confirm__body {
  max-height: 60vh;
  overflow-y: auto ;
  padding: 10px;
}
.va-confirm__content {
  padding: 20px ;
  text-align: center ;
  font-size: 14px ;
  line-height: 1.5;
}
.va-confirm__btn {
  padding: 14px 0 ;
  text-align: center ;
  color: #1C83E3;
  font-size: 16px;
  font-weight: 800;
  position: relative;
}
.va-confirm__btn--group {
  display: flex;
}
.va-confirm__btn--group .va-confirm__btn {
  width: 50% ;
}
.va-confirm__btn--cancel {
  color: #666;
}
/*******************************************  弹出框 ****************************************/
.va-tip__panel {
  min-width: 250px;
  max-width: 90vw;
  background-color: #fff;
  border-radius: 4px;
}
.va-tip__title {
  padding: 20px 20px 0 20px ;
  text-align: center ;
  font-size: 16px;
  font-weight: 800 ;
}
.va-tip__body {
  max-height: 60vh;
  overflow-y: auto;
}
.va-tip__content {
  padding: 20px ;
  text-align: center ;
  font-size: 14px ;
}
.va-tip__btn {
  padding: 14px 0 ;
  text-align: center ;
  color: #1C83E3;
  font-size: 16px;
  font-weight: 800;
  position: relative;
}
/******************************************* 图片 框 ****************************************/
.va-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.va-img img.va-img--center {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%, -50%);
}
.va-img img.va-img--max {
  max-width: 100%;
  max-height: 100%;
}
/*******************************************  图片裁剪  ****************************************/
.va-cropper {
  width: 100%;
  height: 100%;
}
.va-cropper-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.va-cropper-btns {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.va-cropper-btn {
  width: 80px;
  height: 32px;
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
/*******************************************  加载中  ****************************************/
.va-spin {
  display: inline-block;
  stroke: #fff;
  fill: #fff;
  vertical-align: middle;
  width: 28px;
  height: 28px;
}
/******************************************* 弹框 加载 上传中 ****************************************/
.va-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.va-loading .va-loading__popup {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.vi-navbar {
  height: 50px;
  background-color: #fff;
  width: 100%;
  display: flex;
}
.vi-navbar__item {
  flex: 1;
}
.vi-navbar__item--inner {
  padding-top: 32px;
  background-size: 30px auto  ;
  background-position: center 4px;
  font-size: 10px;
  text-align: center ;
}
.vi-navbar__item .index {
  background-image: url('../img/icon-main-index.png');
  background-repeat: no-repeat;
  color: #666;
}
.vi-navbar__item.active .index {
  background-image: url('../img/icon-main-index-active.png');
  background-repeat: no-repeat;
  color: #1C83E3;
}
.vi-navbar__item .resource {
  background-image: url('../img/icon-main-resource.png');
  background-repeat: no-repeat;
  color: #666;
}
.vi-navbar__item.active .resource {
  background-image: url('../img/icon-main-resource-active.png');
  background-repeat: no-repeat;
  color: #1C83E3;
}
.vi-navbar__item .testing {
  background-image: url('../img/icon-main-testing.png');
  background-repeat: no-repeat;
  color: #666;
}
.vi-navbar__item.active .testing {
  background-image: url('../img/icon-main-testing-active.png');
  background-repeat: no-repeat;
  color: #1C83E3;
}
.vi-navbar__item .user {
  background-image: url('../img/icon-main-user.png');
  background-repeat: no-repeat;
  color: #666;
}
.vi-navbar__item.active .user {
  background-image: url('../img/icon-main-user-active.png');
  background-repeat: no-repeat;
  color: #1C83E3;
}
.vi-atten .vi-table--btn {
  width: 100%;
  height: 100%;
  color: #1C83E3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.5s;
}
.vi-atten .vi-table--btn:active {
  background-color: rgba(28, 131, 227, 0.2);
}
.vi-atten .vi-btn--circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 34px;
}
.vi-atten .vi-btn--circle.danger {
  background-color: #FF5353;
  border: 1px solid #FF2222 ;
  box-shadow: 0 0 24px #FF5353;
}
.vi-atten .vi-btn--circle.warning {
  background-color: #F5A623;
  border: 1px solid #FFB844 ;
  box-shadow: 0 0 24px #F5A623;
}
.vi-atten .vi-btn--circle.theme {
  background-color: #2B7EF7;
  border: 1px solid #96C1FF ;
  box-shadow: 0 0 24px #2B7EF7;
}
.vi-atten .vi-btn--circle.info {
  background-color: #B4EC51;
  border: 1px solid #9FE930 ;
  box-shadow: 0 0 24px #91D142;
}
.vi-radio {
  text-align: center;
}
.vi-radio input {
  display: none ;
}
.vi-radio label {
  display: inline-block;
  height: 50px;
  width: 100%;
  border-radius: 50px;
}
.vi-radio span {
  line-height: 50px;
  color: #fff;
  font-weight: 800 ;
}
.vi-radio--warning label {
  background-color: #F5A623 ;
}
.vi-radio--info label {
  background-color: #7ED321 ;
}
.vi-radio input + label {
  position: relative;
}
.vi-radio input + label:before {
  content: '';
  position: absolute ;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url('../img/icon-radio.png');
  background-repeat: no-repeat;
}
.vi-radio input:checked + label:before {
  background-image: url('../img/icon-radio-select.png');
  background-repeat: no-repeat;
}
.vi-chart--item {
  position: relative ;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}
.vi-chart--item::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid #fff;
}
.vi-chart--item.left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: 0px;
  left: -5px;
}
.vi-chart--item.right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 0px;
  right: -5px;
}
.vv-area {
  position: relative;
  padding-right: 36px;
}
.vv-area .vv-area__body {
  overflow-y: auto ;
  height: 100%;
  width: 100%;
}
.vv-area .vv-area__aside {
  position: fixed;
  right: 0;
  top: 0;
  width: 36px;
  height: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.vp-transform {
  transition: all 0.3s;
}
.vp-transform.vp-rotate--y {
  transform: rotateZ(90deg);
}
.vp-badge {
  position: relative;
}
.vp-badge__spot {
  position: absolute ;
  right: 0 ;
  top: 0 ;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #F46433;
  border: 1px solid #fff;
  border-radius: 50% ;
}
.vp-shadow {
  box-shadow: 0 0 2px ragb(0, 0, 0, 0.4);
}
.vp-radius--bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.vp-radius--top-right {
  border-top-right-radius: 4px;
}
.vp-radius--top-left {
  border-top-left-radius: 4px;
}
.vp-btn {
  display: inline-block;
  cursor: pointer ;
  white-space: nowrap;
}
.vp-btn__icon {
  display: inline-block;
  cursor: pointer ;
  white-space: nowrap;
  color: #fff;
  width: 40px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 2px;
}
.vp-btn__icon.vp-btn--theme {
  background: #1C83E3;
}
.vp-btn__icon.vp-btn--warning {
  background: #F1E600;
}
.vp-btn__icon.vp-btn--danger {
  background: #F46433;
}
.vp-btn__simple {
  width: 100%;
  height: 100%;
  display: flex ;
  cursor: pointer ;
  white-space: nowrap;
  color: #fff;
  align-items: center;
  justify-content: center ;
  font-weight: 800 ;
}
.vp-btn__simple.vp-btn--theme {
  background: #1C83E3;
}
.vp-btn__simple.vp-btn--white {
  background: #fff;
  color: #1C83E3;
}
.vp-btn__simple.vp-btn--theme-dark {
  background: #2E6FBC;
}
.vp-btn__simple.vp-btn--danger {
  background: #F46433;
}
.vp-btn__simple.vp-btn--warning {
  background: #F1E600;
}
.vp-btn__simple.vp-btn--disabled {
  background: #fff;
  color: #ccc;
}
.vp-btn__submit {
  border-radius: 4px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  cursor: pointer ;
  white-space: nowrap;
  color: #fff;
  align-items: center;
  justify-content: center ;
  font-weight: 800 ;
}
.vp-btn__submit.vp-btn--theme {
  background: #1C83E3;
}
.vp-btn__submit.vp-btn--danger {
  background: #F46433;
}
.vp-btn__submit.vp-btn--normal {
  color: #1C83E3;
  border: 1px solid #1C83E3;
}
.vp-btn__status {
  border-radius: 18px;
  line-height: 18px;
  height: 18px;
  cursor: pointer ;
  padding: 0  10px;
  white-space: nowrap;
  font-size: 12px;
}
.vp-btn__status.vp-btn--ing {
  color: #fff;
  background-color: #F87C1C;
}
.vp-btn__status.vp-btn--disabled {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.vp-btn__oper {
  border-radius: 26px;
  line-height: 26px;
  height: 26px;
  cursor: pointer ;
  padding: 0 10px;
  white-space: nowrap;
  font-weight: 800 ;
}
.vp-btn__oper.vp-btn--ing {
  color: #fff;
  background-color: #1C83E3;
}
.vp-btn__oper.vp-btn--disabled {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.vp-btn__oper.vp-btn--warning {
  color: #fff;
  background-color: #FFB947;
}
.vp-btn__oper--small {
  border-radius: 26px;
  line-height: 26px;
  height: 26px;
  cursor: pointer ;
  padding: 0 15px;
  white-space: nowrap;
  font-weight: 800 ;
}
.vp-btn__oper--small.vp-btn--cancel {
  color: #1C83E3;
  border: 1px solid #1C83E3;
}
.vp-btn__oper--small.vp-btn--ok {
  color: #fff;
  background-color: #1C83E3;
}
.vp-btn__oper--small.vp-btn--disabled {
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.vp-btn__oper--small.vp-btn--danger {
  color: #F46433;
  border: 1px solid #F46433;
}
[class*=vp-btn__] {
  position: relative;
  overflow: hidden;
}
[class*=vp-btn__]:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0 ;
  display: inline-block;
  width: 100%;
  height: 100% ;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
}
[class*=vp-btn__]:active:after {
  background-color: rgba(255, 255, 255, 0.3);
}
.vp-btn--border {
  position: relative;
}
.vp-btn--border:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 10px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.vp-input {
  position: relative;
}
.vp-input__inner {
  text-align: center;
  -webkit-appearance: none;
  background-color: #F5F9FD;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DAE6F5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 1;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
}
.vp-input__inner.vp-input__bg--white {
  background-color: white ;
}
.vp-input__inner.vp-input__text--left {
  text-align: left ;
}
.vp-input__inner.vp-input--circle {
  border-radius: 40px ;
}
.vp-input__inner::placeholder {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.vp-input__inner.vp-input__text--left::placeholder {
  color: rgba(0, 0, 0, 0.1);
  text-align: left;
}
.vp-input__inner:hover {
  border-color: #b4bccc;
}
.vp-input.is-active .vp-input__inner,
.vp-input__inner:focus {
  border-color: #1C83E3;
  outline: 0;
}
.vp-input__count {
  position: absolute ;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.vp-input__count + .vp-input__inner,
.vp-input__count ~ .vp-input__inner {
  padding-right: 50px;
}
.vp-input__clear {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.vp-input__clear + .vp-input__inner,
.vp-input__clear ~ .vp-input__inner {
  padding-right: 30px;
}
.vp-input__search {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.vp-input__search + .vp-input__inner,
.vp-input__search ~ .vp-input__inner {
  padding-right: 50px;
}
/******************************** textarea ******************************/
.vp-textarea {
  position: relative ;
  text-align: right ;
}
.vp-textarea__inner {
  width: 100% ;
  padding: 10px 10px 10px 10px ;
}
.vp-textarea__inner.vp-textarea--theme {
  border: 1px solid #DAE6F5;
  background-color: #F5F9FD;
  border-radius: 4px;
}
.vp-textarea__count {
  position: absolute ;
  right: 5px;
  bottom: 5px;
}
.vp-textarea__inner::placeholder {
  color: rgba(0, 0, 0, 0.1);
  text-align: left;
}
.vp-textarea__inner:hover {
  border-color: #b4bccc;
}
.vp-textarea.is-active .vp-textarea__inner,
.vp-textarea__inner:focus {
  border-color: #1C83E3;
  outline: 0;
}
.vp-textarea__clear {
  position: absolute;
  right: 8px;
  top: 12px ;
  z-index: 10;
}
.vp-textarea__clear + .vp-textarea__inner,
.vp-textarea__clear ~ .vp-textarea__inner {
  padding-right: 30px;
}
/******************************** 文件选择 ******************************/
.vp-input--file input {
  display: none;
}
.vp-input--file label {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../img/icon-img-upload.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.vp-box {
  width: 60px;
  height: 60px;
}
.vp-row {
  height: 50px;
}
.vp-row--sm {
  height: 40px;
}
.vp-row--min {
  min-height: 50px;
}
/******************************** 基础样式 ***********************************/
.vp-footer {
  position: fixed ;
  bottom: 0 ;
  left: 0 ;
  z-index: 999;
  width: 100%;
}
.vp-footer--content {
  padding-bottom: 50px;
}
.vp-footer--shadow {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.vp-header {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  z-index: 999;
  width: 100%;
}
.vp-header--content {
  padding-top: 50px;
}
.vp-header--shadow {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.vp-img__inner {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.vp-img__inner img,
.vp-img__inner img.vp-img--center {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%, -50%);
}
.vp-img__inner img.vp-img--max {
  max-width: 100%;
  max-height: 100%;
}
.vp-img__inner img.vp-img--cover {
  width: 100%;
  height: 100%;
}
.vp-img__close--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  transition: all 0.3s;
}
.vp-img__close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 16px ;
  height: 16px;
  background-image: url('../img/icon-cancel.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.vp-img__close--center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.vp-img__inner img[src=""],
.vp-img__inner img:not([src]) {
  opacity: 0;
}
.vp-img__inner img.vp-img--error {
  display: none;
}
.vp-img__inner img[src=""] + img.vp-img--error,
.vp-img__inner img:not([src]) + img.vp-img--error {
  display: block;
  width: 100%;
  height: 100%;
}
.vp-img__inner img[src=""] + img.vp-img--error.vp-img--half,
.vp-img__inner img:not([src]) + img.vp-img--error.vp-img--half {
  display: block;
  max-width: 50%;
  max-height: 50%;
}
.vp-img__inner.vp-img__head[data-square='60'] {
  width: 60px ;
  height: 60px;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-square='80'] {
  width: 80px ;
  height: 80px;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-round='35'] {
  width: 35px ;
  height: 35px;
  border-radius: 50%;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-round='30'] {
  width: 30px ;
  height: 30px;
  border-radius: 50%;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-round='60'] {
  width: 60px ;
  height: 60px;
  border-radius: 50%;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-round='80'] {
  width: 80px ;
  height: 80px;
  border-radius: 50%;
  overflow: hidden ;
}
.vp-img__inner.vp-img__head[data-round='100%'] {
  width: 100% ;
  height: 100%;
  border-radius: 100%;
  overflow: hidden ;
}
.vp-img__inner.vp-img__forum {
  width: 90px ;
  height: 60px;
  border-radius: 4px;
  overflow: hidden ;
}
.vp-img__inner.vp-img__upload {
  width: 70px ;
  height: 70px;
  overflow: hidden ;
}
.vp-img__inner.vp-img__cell[data-round='26'] {
  width: 26px ;
  height: 26px;
  border-radius: 50%;
  overflow: hidden ;
}
.vp-img__inner .vp-img__content {
  position: absolute ;
  left: 0 ;
  top: 0 ;
  width: 100% ;
  height: 100% ;
}
.vp-img__inner.vp-img--border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.vp-img__outer {
  position: relative;
}
.vp-img__outer img {
  width: 100% ;
  height: auto ;
}
.vp-img__outer .vc-img--mask {
  position: absolute ;
  bottom: 0 ;
  left: 0 ;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.vp-pw,
dl {
  position: relative;
}
.vp-pw--fix,
dt {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
}
.vp-pw--fit,
dd {
  margin-left: 110px;
}
.vp-pw--fix[data-width='150'],
.dt[data-width='150'] {
  width: 150px;
}
.vp-pw--fix[data-width='150'] + .vp-pw--fit {
  margin-left: 160px;
}
dt[data-width='150'] + dd {
  margin-left: 160px;
}
.vp-fo__uns {
  margin-right: 10px;
  float: left;
  height: 500px;
  max-width: 50%;
}
.vp-fo__fit {
  overflow: hidden;
  height: 500px;
}
.vp-ratio__outer {
  position: relative;
  height: 0;
  width: 100%;
}
.vp-ratio__inner {
  width: 100%;
  height: 100% ;
  position: absolute;
  left: 0;
  top: 0;
}
.vp-ratio__outer[data-ratio='10:7'] {
  padding-top: 70%;
}
.vp-ratio__outer[data-ratio='16:9'] {
  padding-top: 56.25%;
}
.vp-ratio__outer[data-ratio='10:7'] {
  padding-top: 70%;
}
.vp-ratio__outer[data-ratio='375:147'] {
  padding-top: 39.2%;
}
.vp-ratio__outer[data-ratio='92:66'] {
  padding-top: 71.94%;
}
.vp-ratio__outer[data-ratio='100%'] {
  padding-top: 100%;
}
.vp-ratio__outer[data-ratio='200%'] {
  padding-top: 200%;
}
.vp-ratio__outer[data-ratio='52.27%'] {
  padding-top: 52.27%;
}
.vp-ratio__outer[data-ratio='50%'] {
  padding-top: 50%;
}
.vp-ratio__outer[data-ratio='46.67%'] {
  padding-top: 46.67%;
}
.vp-table {
  min-width: 100% ;
}
.vp-table--center {
  vertical-align: middle;
}
.vp-td-width--max {
  max-width: 33.33% ;
}
.vp-td-width--min {
  min-width: 100px ;
}
.vp-icon__outer {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  max-width: 100%;
}
.vp-icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-size: auto 22px;
}
.vp-icon--loading {
  background-image: url('../img/loading.png');
  background-repeat: no-repeat;
}
.vp-icon__spot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.vp-icon__spot.danger {
  background-color: #F46433;
  box-shadow: 0 0 5px #F46433;
}
.vp-icon__spot.success {
  background-color: #6FF14B;
  box-shadow: 0 0 5px #6FF14B;
}
.vp-icon__info {
  display: inline-block;
  width: 40px;
  height: 24px;
  background-image: url('../img/icon-label-info.png');
  background-repeat: no-repeat;
  background-size: auto 24px;
}
.vp-icon__warning {
  display: inline-block;
  width: 40px;
  height: 24px;
  background-image: url('../img/icon-label-warning.png');
  background-repeat: no-repeat;
  background-size: auto 24px;
}
.vp-icon__danger {
  display: inline-block;
  width: 40px;
  height: 24px;
  background-image: url('../img/icon-label-danger.png');
  background-repeat: no-repeat;
  background-size: auto 24px;
}
.vp-icon__select {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-select.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
  transition: all 0.3s;
}
.vp-icon__select--active {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-select-active.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__good {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-good.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__bad {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-bad.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__arrow-right--theme {
  display: inline-block;
  width: 6px;
  height: 14px;
  background-image: url('../img/icon-arrow-right-theme.png');
  background-repeat: no-repeat;
  background-size: auto 14px;
}
.vp-icon__status--poor {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-status-poor.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__status--normal {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-status-normal.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__status--fine {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-status-fine.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__cancel {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/icon-cancel.png');
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.vp-icon__give-up {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon-give-up.png');
  background-repeat: no-repeat;
  background-size: auto 16px;
}
.vp-icon__give-floor {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon-give-floor.png');
  background-repeat: no-repeat;
  background-size: auto 16px;
}
.vp-icon__floor-user {
  display: inline-block;
  width: 38px;
  height: 41px;
  background-image: url('../img/icon-floor-user.png');
  background-repeat: no-repeat;
  background-size: auto 41px;
}
.vp-icon__floor-class {
  display: inline-block;
  width: 38px;
  height: 41px;
  background-image: url('../img/icon-floor-class.png');
  background-repeat: no-repeat;
  background-size: auto 41px;
}
.vp-icon__share {
  background-image: url('../img/icon-share.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: auto 80%;
  background-position: center;
}
.vp-icon__share-close {
  background-image: url('../img/icon-share-close.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 100%;
  background-size: auto 40px;
  background-position: center;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #f1f1f1;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  background-color: transparent;
}
a:focus,
a:hover,
a:active {
  color: #23527c ;
  text-decoration: underline;
  outline: 0;
}
li {
  list-style: none;
}
u,
ins {
  text-decoration: underline;
}
strong {
  font-weight: 800;
}
textarea,
input,
i {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.vc-text {
  font-size: 14px ;
  line-height: 1 ;
}
.vc-text--no {
  font-size: 0;
}
.vc-text--mi,
h6 {
  font-size: 10px;
}
.vc-text--sm,
h5 {
  font-size: 12px;
}
.vc-text--md,
h4 {
  font-size: 14px;
}
.vc-text--lg,
h3 {
  font-size: 16px;
}
.vc-text--xl,
h2 {
  font-size: 18px;
}
.vc-text--xl-x,
h1 {
  font-size: 20px;
}
.vc-text--xl-xx {
  font-size: 24px;
}
.vc-text--xl-xxx {
  font-size: 30px;
}
.vc-text--xl-xxxx {
  font-size: 40px;
}
.vc-text--theme {
  color: #1C83E3;
}
.vc-text--warning {
  color: #F1E600;
}
.vc-text--aux {
  color: #FFB947;
}
.vc-text--danger {
  color: #F46433;
}
.vc-text--success {
  color: #6FF14B;
}
.vc-text--info {
  color: #d9edf7;
}
.vc-text--dark {
  color: #333;
}
.vc-text--light {
  color: #666;
}
.vc-text--gray {
  color: #999;
}
.vc-text--white {
  color: #fff;
}
.vc-text--black {
  color: #000;
}
.vc-text--shadow {
  color: rgba(0, 0, 0, 0.05);
}
.vc-text--center {
  text-align: center;
}
.vc-text--left {
  text-align: left;
}
.vc-text--right {
  text-align: right;
}
.vc-text--bold,
strong {
  font-weight: 800;
}
.vc-text--italic,
i {
  font-style: italic;
}
.vc-text--indent {
  text-indent: 5px;
}
.vc-text--nowrap {
  white-space: nowrap;
}
.vc-text--wrap {
  word-wrap: break-word;
  word-break: normal;
}
.vc-text--break {
  word-break: break-all;
}
pre.vc-text--wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.vc-text--baseline--mi {
  line-height: 1;
}
.vc-text--baseline--sm {
  line-height: 1.2;
}
.vc-text--baseline,
.vc-text--baseline--md {
  line-height: 1.5;
}
.vc-text--baseline--pl {
  line-height: 1.8;
}
.vc-text--baseline--lg {
  line-height: 2;
}
.vc-text--baseline--xl {
  line-height: 2.5;
}
.vc-text--lowercase {
  text-transform: lowercase;
}
.vc-text--uppercase {
  text-transform: uppercase;
}
.vc-text--capitalize {
  text-transform: capitalize;
}
.vc-text--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vc-text--clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc-text--line {
  text-decoration: line-through;
}
.vc-bg {
  background-color: #ffffff;
}
.vc-bg--danger {
  background-color: #F46433;
}
.vc-bg--theme {
  background-color: #1C83E3;
}
.vc-bg--theme--gray {
  background-color: #F5F9FD;
}
.vc-bg--theme-dark {
  background-color: #2E6FBC;
}
.vc-bg--warning {
  background-color: #F1E600;
}
.vc-bg--danger {
  background-color: #F46433;
}
.vc-bg--success {
  background-color: #6FF14B;
}
.vc-bg--info {
  background-color: #d9edf7;
}
.vc-bg--dark {
  background-color: #333;
}
.vc-bg--light {
  background-color: #666;
}
.vc-bg--gray {
  background-color: #999;
}
.vc-bg--white {
  background-color: #fff;
}
.vc-bg--black {
  background-color: #000;
}
.vc-bg--gradient {
  background-image: linear-gradient(to bottom, #1C83E3, #efefef);
}
.vc-btn {
  display: inline-block;
  cursor: pointer ;
  white-space: nowrap;
}
.vc-icon {
  font-size: 0;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  line-height: 1;
  background-position: center ;
  background-size: auto 22px ;
}
.vc-clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.vc-clear:before {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.vc-box,
.vc-box--flex {
  display: flex ;
}
.vc-box--inline {
  display: inline ;
}
.vc-box--inline-block {
  display: inline-block;
  font-size: 0 ;
  vertical-align: middle;
}
.vc-box--block {
  display: block ;
}
.vc-box--table {
  display: table ;
}
.vc-box--table-row {
  display: table-row;
}
.vc-box--table-cell {
  display: table-cell;
}
.vc-row::before {
  display: table;
  content: " ";
  clear: both;
}
.vc-row::after {
  display: table;
  content: " ";
  clear: both;
}
.vc-row[data-gutter='10'] {
  margin-left: -5px;
  margin-right: -5px;
}
.vc-row[data-gutter='10'] [class^=vc-col-] {
  padding-left: 5px;
  padding-right: 5px;
}
.vc-row[data-gutter='20'] {
  margin-left: -10px;
  margin-right: -10px;
}
.vc-row[data-gutter='20'] [class^=vc-col-] {
  padding-left: 10px;
  padding-right: 10px;
}
.vc-row[data-gutter='40'] {
  margin-left: -20px;
  margin-right: -20px;
}
.vc-row[data-gutter='40'] [class^=vc-col-] {
  padding-left: 20px;
  padding-right: 20px;
}
.vc-col--01 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 4.16666667%;
}
.vc-col--02 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 8.33333333%;
}
.vc-col--03 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 12.5%;
}
.vc-col--04 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 16.66666667%;
}
.vc-col--05 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 20.83333333%;
}
.vc-col--06 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 25%;
}
.vc-col--07 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 29.16666667%;
}
.vc-col--08 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 33.33333333%;
}
.vc-col--09 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 37.5%;
}
.vc-col--10 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 41.66666667%;
}
.vc-col--11 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 45.83333333%;
}
.vc-col--12 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 50%;
}
.vc-col--13 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 54.16666667%;
}
.vc-col--14 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 58.33333333%;
}
.vc-col--15 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 62.5%;
}
.vc-col--16 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 66.66666667%;
}
.vc-col--17 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 70.83333333%;
}
.vc-col--18 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 75%;
}
.vc-col--19 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 79.16666667%;
}
.vc-col--20 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 83.33333333%;
}
.vc-col--21 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 87.5%;
}
.vc-col--22 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 91.66666667%;
}
.vc-col--23 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 95.83333333%;
}
.vc-col--24 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 100%;
}
.vc-col--offset-01 {
  margin-left: 4.16666667%;
}
.vc-col--offset-02 {
  margin-left: 8.33333333%;
}
.vc-col--offset-03 {
  margin-left: 12.5%;
}
.vc-col--offset-04 {
  margin-left: 16.66666667%;
}
.vc-col--offset-05 {
  margin-left: 20.83333333%;
}
.vc-col--offset-06 {
  margin-left: 25%;
}
.vc-col--offset-07 {
  margin-left: 29.16666667%;
}
.vc-col--offset-08 {
  margin-left: 33.33333333%;
}
.vc-col--offset-09 {
  margin-left: 37.5%;
}
.vc-col--offset-10 {
  margin-left: 41.66666667%;
}
.vc-col--offset-11 {
  margin-left: 45.83333333%;
}
.vc-col--offset-12 {
  margin-left: 50%;
}
.vc-col--offset-13 {
  margin-left: 54.16666667%;
}
.vc-col--offset-14 {
  margin-left: 58.33333333%;
}
.vc-col--offset-15 {
  margin-left: 62.5%;
}
.vc-col--offset-16 {
  margin-left: 66.66666667%;
}
.vc-col--offset-17 {
  margin-left: 70.83333333%;
}
.vc-col--offset-18 {
  margin-left: 75%;
}
.vc-col--offset-19 {
  margin-left: 79.16666667%;
}
.vc-col--offset-20 {
  margin-left: 83.33333333%;
}
.vc-col--offset-21 {
  margin-left: 87.5%;
}
.vc-col--offset-22 {
  margin-left: 91.66666667%;
}
.vc-col--offset-23 {
  margin-left: 95.83333333%;
}
.vc-col--offset-24 {
  margin-left: 100%;
}
.vc-flex {
  display: flex;
}
.vc-flex--fit {
  flex: 1;
}
.vc-flex--fix {
  flex: 0;
}
.vc-flex--aut {
  flex: auto ;
  width: auto;
}
.vc-flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vc-flex--between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vc-content--center {
  justify-content: center;
}
.vc-content--start {
  justify-content: flex-start;
}
.vc-content--end {
  justify-content: flex-end;
}
.vc-content--around {
  justify-content: space-around;
}
.vc-content--between {
  justify-content: space-between;
}
.vc-items--center {
  align-items: center;
}
.vc-items--start {
  align-items: flex-start;
}
.vc-items--end {
  align-items: flex-end;
}
.vc-items--baseline {
  align-items: baseline;
}
.vc-items--stretch {
  align-items: stretch;
}
.vc-align-content--center {
  align-content: center;
}
.vc-align-content--start {
  align-content: flex-start;
}
.vc-align-content--end {
  align-content: flex-end;
}
.vc-align-content--around {
  align-content: space-around;
}
.vc-align-content--between {
  align-content: space-between;
}
.vc-align-content--stretch {
  align-content: stretch;
}
.vc-wrap--nowrap {
  flex-wrap: nowrap;
}
.vc-wrap--wrap {
  flex-wrap: wrap;
}
.vc-wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.vc-direction--row {
  flex-direction: row;
}
.vc-direction--row-reverse {
  flex-direction: row-reverse;
}
.vc-direction--column {
  flex-direction: column;
}
.vc-direction--column-reverse {
  flex-direction: column-reverse;
}
/*.vc-table { display: table;border-collapse: collapse;  border-spacing: 0;}
.vc-table--tr { display: table-row; }
.vc-table--td { display: table-cell; text-align: center;vertical-align: middle; padding: 5px;min-width: 50px;max-width: 400px; }
.vc-table--th { display: table-cell; text-align: center;vertical-align: middle; padding: 5px;  background-color: #fbfbfb;height:50px;   }*/
.vc-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100% ;
}
.vc-table--tr {
  display: table-row;
}
.vc-table--td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  min-width: 50px;
  max-width: 400px;
  border-right: 1px solid #fff;
}
.vc-table--th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: #585870;
  border-right: 1px solid #fff;
}
.vc-table--tr:nth-child(2n) {
  background-color: #F6F7FB;
}
.vc-table--tr:nth-child(2n+1) {
  background-color: #EBEEF7;
}
.vc-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.vc-margin--lt {
  margin-left: 10px;
}
.vc-margin--rt {
  margin-right: 10px;
}
.vc-margin--tp {
  margin-top: 10px;
}
.vc-margin--bm {
  margin-bottom: 10px;
}
.vc-margin--ad {
  margin-left: 10px  ;
  margin-right: 10px;
}
.vc-margin--ud {
  margin-top: 10px ;
  margin-bottom: 10px;
}
.vc-margin__lg {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vc-margin__lg--lt {
  margin-left: 20px;
}
.vc-margin__lg--rt {
  margin-right: 20px;
}
.vc-margin__lg--tp {
  margin-top: 20px;
}
.vc-margin__lg--bm {
  margin-bottom: 20px;
}
.vc-margin__lg--ad {
  margin-left: 20px  ;
  margin-right: 20px;
}
.vc-margin__lg--ud {
  margin-top: 20px ;
  margin-bottom: 20px;
}
.vc-margin__xl {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.vc-margin__xl--lt {
  margin-left: 40px;
}
.vc-margin__xl--rt {
  margin-right: 40px;
}
.vc-margin__xl--tp {
  margin-top: 40px;
}
.vc-margin__xl--bm {
  margin-bottom: 40px;
}
.vc-margin__xl--ad {
  margin-left: 40px  ;
  margin-right: 40px;
}
.vc-margin__xl--ud {
  margin-top: 40px ;
  margin-bottom: 40px;
}
.vc-margin__sm {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.vc-margin__sm--lt {
  margin-left: 5px;
}
.vc-margin__sm--rt {
  margin-right: 5px;
}
.vc-margin__sm--tp {
  margin-top: 5px;
}
.vc-margin__sm--bm {
  margin-bottom: 5px;
}
.vc-margin__sm--ad {
  margin-left: 5px  ;
  margin-right: 5px;
}
.vc-margin__sm--ud {
  margin-top: 5px ;
  margin-bottom: 5px;
}
.vc-padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.vc-padding--lt {
  padding-left: 10px;
}
.vc-padding--rt {
  padding-right: 10px;
}
.vc-padding--tp {
  padding-top: 10px;
}
.vc-padding--bm {
  padding-bottom: 10px;
}
.vc-padding--ad {
  padding-left: 10px  ;
  padding-right: 10px;
}
.vc-padding--ud {
  padding-top: 10px ;
  padding-bottom: 10px;
}
.vc-padding__sm {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vc-padding__sm--lt {
  padding-left: 5px;
}
.vc-padding__sm--rt {
  padding-right: 5px;
}
.vc-padding__sm--tp {
  padding-top: 5px;
}
.vc-padding__sm--bm {
  padding-bottom: 5px;
}
.vc-padding__sm--ad {
  padding-left: 5px  ;
  padding-right: 5px;
}
.vc-padding__sm--ud {
  padding-top: 5px ;
  padding-bottom: 5px;
}
.vc-padding__md-lg {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.vc-padding__md-lg--lt {
  padding-left: 15px;
}
.vc-padding__md-lg--rt {
  padding-right: 15px;
}
.vc-padding__md-lg--tp {
  padding-top: 15px;
}
.vc-padding__md-lg--bm {
  padding-bottom: 15px;
}
.vc-padding__md-lg--ad {
  padding-left: 15px  ;
  padding-right: 15px;
}
.vc-padding__md-lg--ud {
  padding-top: 15px ;
  padding-bottom: 15px;
}
.vc-padding__lg {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.vc-padding__lg--lt {
  padding-left: 20px;
}
.vc-padding__lg--rt {
  padding-right: 20px;
}
.vc-padding__lg--tp {
  padding-top: 20px;
}
.vc-padding__lg--bm {
  padding-bottom: 20px;
}
.vc-padding__lg--ad {
  padding-left: 20px  ;
  padding-right: 20px;
}
.vc-padding__lg--ud {
  padding-top: 20px ;
  padding-bottom: 20px;
}
.vc-padding__xl--ad {
  padding-left: 40px;
  padding-right: 40px;
}
.vc-padding__xl-x {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.vc-padding__xl-x--lt {
  padding-left: 50px;
}
.vc-padding__xl-x--rt {
  padding-right: 50px;
}
.vc-padding__xl-x--tp {
  padding-top: 50px;
}
.vc-padding__xl-x--bm {
  padding-bottom: 50px;
}
.vc-padding__xl-x--ad {
  padding-left: 50px  ;
  padding-right: 50px;
}
.vc-padding__xl-x--ud {
  padding-top: 50px ;
  padding-bottom: 50px;
}
.vc-padding__xl-xx {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.vc-padding__xl-xx--lt {
  padding-left: 60px;
}
.vc-padding__xl-xx--rt {
  padding-right: 60px;
}
.vc-padding__xl-xx--tp {
  padding-top: 60px;
}
.vc-padding__xl-xx--bm {
  padding-bottom: 60px;
}
.vc-padding__xl-xx--ad {
  padding-left: 60px  ;
  padding-right: 60px;
}
.vc-padding__xl-xx--ud {
  padding-top: 60px ;
  padding-bottom: 60px;
}
.vc-radius--ms {
  border-radius: 2px;
}
.vc-radius,
.vc-radius--md {
  border-radius: 5px;
}
.vc-radius--lg {
  border-radius: 10px;
}
.vc-radius--ce {
  border-radius: 100%;
}
.vc-flow,
.vc-flow--ao {
  overflow: auto ;
}
.vc-flow--hn {
  overflow: hidden;
}
.vc-cover {
  width: 100%;
  height: 100% ;
}
.vc-cover--w {
  width: 100% ;
}
.vc-cover--h {
  height: 100% ;
}
.vc-cover--h-min {
  min-height: 100% ;
}
.vc-cover--h-max {
  max-height: 100% ;
}
.vc-fluid {
  width: 100vw;
  height: 100vh;
}
.vc-fluid--w {
  width: 100vw;
}
.vc-fluid--h {
  height: 100vh;
}
.vc-fluid--h-min {
  min-height: 100vh;
}
.vc-fluid--h-max {
  max-height: 100vh;
}
.vc-pos,
.vc-pos--re {
  position: relative;
}
.vc-pos--fd {
  position: fixed;
}
.vc-pos--ae {
  position: absolute;
}
.vc-pos--lt {
  left: 0;
  top: 0;
}
.vc-pos--rt {
  right: 0;
  top: 0;
}
.vc-pos--lb {
  left: 0;
  bottom: 0;
}
.vc-pos--rb {
  right: 0;
  bottom: 0;
}
.vc-border--dashed,
.vc-border--ud,
.vc-border--bm,
.vc-border--lt,
.vc-border--rt,
.vc-border--tp,
.vc-border {
  position: relative;
}
[class*=vc-border]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vc-border:after {
  border: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--bm:after {
  border-bottom: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--tp:after {
  border-top: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--lt:after {
  border-left: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--rt:after {
  border-right: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--ud:after {
  border-bottom: 1px solid rgba(28, 131, 227, 0.5);
  border-top: 1px solid rgba(28, 131, 227, 0.5);
}
.vc-border--dashed:after {
  border-style: dashed;
}
.vc-border--bm.white:after {
  border-bottom: 1px solid #fff;
}
.vc-border--tp.white:after {
  border-top: 1px solid #fff;
}
.vc-border--lt.white:after {
  border-left: 1px solid #fff;
}
.vc-border--rt.white:after {
  border-right: 1px solid #fff;
}
.vc-bor--theme-light {
  border: 1px solid #DAE6F5;
}
.vc-border.vc-border--dark:after {
  border: 1px solid #333;
}
.vc-border.vc-border--theme:after {
  border: 2px solid #1C83E3;
}
.vc-border.vc-border--danger:after {
  border: 2px solid #F46433;
}
/* 电脑端
.my-border{  border: 1px solid @color-border;  }
.my-border--none{  border: none;  }
.my-border__top{  border-top: 1px solid @color-border;  }
.my-border__top--none{  border-top: none;  }
.my-border__bottom{  border-bottom: 1px solid @color-border;  }
.my-border__bottom--none{  border-bottom:none;  }
.my-border__left{  border-left: 1px solid @color-border;  }
.my-border__left--none{  border-left: none;  }
.my-border__right{  border-right: 1px solid @color-border;  }
.my-border__right--none{  border-right: none;  }*/
/********************************************** 弹出框动画 *********************************************/
.vt-popup-slide-top-enter,
.vt-popup-slide-top-leave-active {
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
}
.vt-popup-slide-right-enter,
.vt-popup-slide-right-leave-active {
  -webkit-transform: translate3d(100%, -50%, 0);
  transform: translate3d(100%, -50%, 0);
}
.vt-popup-slide-bottom-enter,
.vt-popup-slide-bottom-leave-active {
  -webkit-transform: translate3d(-50%, 100%, 0);
  transform: translate3d(-50%, 100%, 0);
}
.vt-popup-slide-left-enter,
.vt-popup-slide-left-leave-active {
  -webkit-transform: translate3d(-100%, -50%, 0);
  transform: translate3d(-100%, -50%, 0);
}
/********************************************** 划入划出 *********************************************/
.vt-slide-bottom-enter-active {
  animation: vt-slide-bottom-enter 0.5s both ease;
}
.vt-slide-bottom-leave-active {
  animation: vt-slide-bottom-leave 0.5s both ease;
}
@keyframes vt-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes vt-slide-bottom-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}
.vt-slide-left-enter-active {
  animation: vt-slide-left-enter 0.5s both ease;
}
.vt-slide-left-leave-active {
  animation: vt-slide-left-leave 0.5s both ease;
}
@keyframes vt-slide-left-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes vt-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.vt-slide-right-enter-active {
  animation: vt-slide-right-enter 0.5s both ease;
}
.vt-slide-right-leave-active {
  animation: vt-slide-right-leave 0.5s both ease;
}
@keyframes vt-slide-right-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes vt-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
/********************************************** 渐入渐出 *********************************************/
.vt-fade-enter-active,
.vt-fade-leave-active {
  transition: all 0.4s;
}
.vt-fade-enter,
.vt-fade-leave-active {
  opacity: 0 ;
}
@keyframes vt-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes vt-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/********************************************** 旋转 *********************************************/
@keyframes vt-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/********************************************** 旋转 *********************************************/
@keyframes vt-facebook-pulse {
  10% {
    margin-top: 5px;
    height: 22px;
    border-color: rgba(28, 131, 227, 0.3);
    background-color: rgba(28, 131, 227, 0.6);
  }
  20% {
    margin-top: 0px;
    height: 32px;
    border-color: rgba(28, 131, 227, 0.5);
    background-color: rgba(28, 131, 227, 0.8);
  }
  30% {
    margin-top: 1px;
    height: 30px;
    border-color: rgba(28, 131, 227, 0.7);
    background-color: #1c83e3;
  }
  40% {
    margin-top: 3px;
    height: 26px;
  }
  50% {
    margin-top: 5px;
    height: 22px;
  }
  60% {
    margin-top: 6px;
    height: 18px;
  }
}
/********************************************** 拉伸   *********************************************/
@keyframes vt-stretch {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/********************************************** 旋转面板  *********************************************/
@keyframes vt-rotate-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/********************************************** 反弹   *********************************************/
@keyframes vt-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.van-swipe__indicator {
  width: 8px ;
  height: 8px;
  background-color: #999;
}
.van-swipe__indicator--active {
  background-color: #fff;
}
.van-dialog {
  width: auto;
  max-width: 90%;
  min-width: 80%;
}
.van-dialog__message {
  text-align: center;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
  color: #1C83E3;
}
.van-actionsheet {
  max-height: 70%;
}
.swiper-pagination-bullet {
  background-color: #999;
}
.swiper-pagination-bullet-active {
  background-color: #fff ;
}
.van-progress {
  height: 10px;
  border-radius: 10px;
  background-color: #F5F9FD;
}
.van-switch--on {
  background-color: #1C83E3;
}
.van-radio {
  margin-right: 10px;
}
.van-radio .van-icon-checked {
  color: #1C83E3;
}
.van-radio__label {
  font-weight: 800 ;
  color: #999;
}
.van-radio .van-icon {
  font-size: 16px;
}
